.career {
    margin-bottom: 3rem;
}
.title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}
.heading {
    color: #4e555b;
    font-size: 20px;
    line-height: 22px;
}

.position {
    color: #4e555b;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
}
.list {
    font-size: 18px;
    color: #7e7e7e;
    margin-bottom: 3rem;
}

.links {
    font-weight: 300;
    color: #1f19bf;
    font-size: 20px;
}