.goBack {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    font-size: 3rem;
    color: #434343;
    opacity: 0.4;
}

.goBack:hover {
    opacity: 1;
    color: #525252;
}