.navbar {
    margin: 0 auto;
    padding: 0;
    background-size: cover;
}

.brand {
    font-size: 1.5rem;
}

.link {
    font-size: 1.2rem;
}

.icons {
    font-size: 2rem;
    transition: all ease-in-out 0.3s;
    color: #fff;
}

.icons:not(:last-child) {
    margin-right: 1.5rem;
}

.icons:hover {
    transform: scale(1.3);
}

.header {
    height: 70px;
    background-color: #434343;
}